<div class="container flex-column">
  <h2>Your Playlist</h2>
  <div class="list">
    <div class="list-item" *ngFor="let playlist of playlists">
      <input type="text" [(ngModel)]="playlist.playlistTitle" name="pTitle" placeholder="Playlist Title">
      <div class="right">
        <button (click)="addPlaylistToQueue(playlist)">Add to queue</button>
        <button routerLink="/playlists/{{ playlist.playlistTitle }}">
          Edit
        </button>
        <button (click)="deletePlaylist(playlist)">Delete</button>
      </div>
    </div>
  </div>
  <button (click)="addNewPlaylist()">Add new playlist</button>
</div>
